body{
    background-color: #E8E8E8;
}
header{
    border:1px dashed red;
    height: 80px;
    background-color: #FFFFFF;
}
main{
    border:1px dashed blue;
    height: 1000px;
    background-color: #FFFFFF;
}
footer{
    border:1px dashed green;
    height: 200px;
    background-color: #FFFFFF;
}
nav >div >div>ul#nav1{
    margin-left: 790px;
}

@media (min-width: 1400px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1445px;
    }
}